/** @format */

.buttons {
	display: flex;
	gap: 20px;
	padding: 5px 15px;
}

button {
	width: 120px;
	height: 40px;
	border-radius: 8px;
	border: none;
	font-size: 16px;
	font-weight: 600;
	color: rgb(96, 36, 104);
	box-shadow: 2px 2px 6px 1px darkgrey;
	cursor: pointer;
}

button:hover {
	background-color: rgb(184, 184, 184);
}
